      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-12">
                    <button id="continue-shoping" style="border: double green; border-radius: 5px ;" type="button" class="btn btn-primary mb-4" class="mb-5"><i class="fas fa-long-arrow-alt-left me-2"></i> Continue shopping</button>
                    <div id="checkoutview"></div>
                    <div style="font-weight: bold; font-size: x-large;" class="d-flex justify-content-between align-items-center mb-4">
                      <div id="shoping_cart_view">
                        <p class="mb-1 mt-4 pl-5">Shopping cart</p>
                        <p class="mb-0 pl-5">You have <span id="view-items"></span> items in your cart</p>
                      </div>
                    </div>
    
                    <button id="btn-proceed" type="button" class="btn btn-success btn-block btn-lg mt-4">
                      <div class="d-flex justify-content-between">
                        <span style="font-weight: bold; color: black; ">Proceed to checkout <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                        <span style="font-weight: bold; color: black; ">$<span class="add-price">0</span></span>
                      </div>
                    </button>
                </div>

            </div>
          </div>
        </div>
      </div>
    <script src="dist/js/checkoutview.js"></script>
