<div class="cardlogin">
    <div class="card__face card__face--front">
        <form id="login">
            <button type="button" class="about">About</button>
            <input placeholder="Email" id="email" type="text">
            <input placeholder="Password" id="password" type="password" >
            <button type="button" class="btn btn-primary"  id="login1">Login</button>
            <button onclick="location.href='register1'" type="button" class="btn btn-light">Create your account</button>
        </form>
    </div>
    <div class="card__face card__face--back">
        <button type="button" class="about">Login</button>
        <div id="flexcardabout">
          <div class="basisabout">
            <img id="imgshop" src="/dist/img/shop.png">
          </div>
          <div class="basisabout">
            <p><b>Best shop in the city  "Food Online"</b></p>
          </div>
        </div>

    </div>
</div>

<script src="dist/js/login.js"></script>
